# Firebase Configuration
# Get these values from Firebase Console (Project Settings > General)

const firebaseConfig = {
REACT_APP_FIREBASE_API_KEY="AIzaSyCnjPKZxYodMfvH-o7R0xyQDEGP5OOt-xk",
REACT_APP_FIREBASE_AUTH_DOMAIN="ridemartcom.firebaseapp.com",
REACT_APP_FIREBASE_PROJECT_ID="ridemartcom",
REACT_APP_FIREBASE_STORAGE_BUCKET="ridemartcom.firebasestorage.app",
REACT_APP_FIREBASE_MESSAGING_SENDER_ID="99888063134",
REACT_APP_FIREBASE_APP_ID="1:99888063134:web:26a2362ed4ab76c726518f",
REACT_APP_FIREBASE_MEASUREMENT_ID:"G-PQ01ZV3D70",
};
